<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create City</title>
</head>
<body>
<h1>Create City</h1>
<p>
    <a href="/city">Cites list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}" style="color:green;"></p>
</th:block>
<form th:action="@{/create-city}" th:object="${city}" method="post">
    <table>
        <tr>
            <td>City Name : </td>
            <td><input type="text" th:field="*{name}"/></td>
<!--            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</td>-->
        </tr>
        <tr>
            <td>Nation Name:</td>
            <td>
                <select th:field="*{nation}">
                    <option th:each="nation:${nations}" th:value="${nation.id}" th:text="${nation.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Area:</td>
            <td><input type="text" th:field="*{area}"/></td>
        </tr>
        <tr>
        <td>Quantity :</td>
            <td><input type="text" th:field="*{quantity}"/></td>
        </tr>
        <tr>
            <td>GPA:</td>
            <td><input type="text" th:field="*{GPA}"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create City"></td>
        </tr>
    </table>
</form>
</body>
</html>